body{
    background-color:#F5F7FA;
    color: #4B5563;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    color: #FBBF24;
    background-color: #1E3A8A;
    padding: 30px;


}

nav{
    display: flex;
    gap: 70px;
    margin-left: 1450px;

    
}

nav a{
    padding: 20px;
    text-decoration: none;

    border: black solid 2px;
}

main{
    background-color: #d3d3d3;
    padding: 20px;
    margin: 20px;

    flex:3;
}



img{
    
    width: 200px;
    border-radius: 600px;

    display: block;
    margin: auto;
}

aside{
    background-color: #d3d3d3;
    padding: 20px;
    margin: 20px;

}

.conteudo{
    display: flex;
    padding: 10px;
    gap: 40px
}

article{
    display: flex;
    gap: 20px;
    padding: 15px;
    margin: 20px;
   
    border-radius: 15px;
}

section{
    background-color: #d3d3d3;
    flex: 3;
    padding: 10px;
}


footer{
    background-color: #1E3A8A;
    color: white;

    text-align: center;
    padding: 20px;
    
}
