@charset "UTF-8";

@import "cor.css";
@import "reset.css";

@font-face {
    font-family: Minecraft;
    src: url(/font/Minecraft.ttf);
}

body {
    font-family: Minecraft;
}

h2, h3 {
    background-color: var(--primary-color);
    font-size: larger;
}

h4, h5 {
    background-color: var(--cor3);
}

header {
    background-color: var(--primary-color);
    color: aliceblue;
}

.menu {
    background-color: transparent;
    color: #fff;
}

.menu ul {
    list-style: none;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    color: #fff;
    background-color: yellowgreen;
    padding: 20px;
    border: 1px solid #000000;
}

.menu ul li:nth-child(2n+1) {
    background-color: blanchedalmond;
}

.menu ul li a {
    color: gold;
    font-size: larger;
}

section {
    background-color: aquamarine;
}

section section section {
    display: inline-block;
    width: 100%;
    min-height: 300px;
    border: 2px solid #000;
}

.listaAlunos{
    list-style: decimal-leading-zero;
    padding-inline-start: 30px;
}
.listaAlunos footer h3 p mark{
    background-color: chocolate;
    display: inline;    
}
header h2 {
    background-color: var(--primary-color);
    font-size: small;
    text-align: center;
}

section section section footer {
    background-color: red;
}

section section section h3 {
    font-size: smaller;
}